{% extends "posts/base_layout.html" %}

{% block content %}

    <img src="https://wallpapercave.com/wp/wp2640125.png"
        style="width: 100%; height: 100%; position:fixed; z-index: -1; object-fit: cover;"
    ></img>

    <div class="bg-dark text-white" style="min-height: 100vh; opacity:70% ;">
        
        <h1 style="color: tomato; text-align: center; padding-top:10px ;">
            edit profile
        </h1>
        <button type="submit" class="btn btn-success" >Save Profile</button>
    </div>
{% endblock %}