<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'authentication/css/signUp.css' %}">
</head>
<body>

    <img src="https://wallpapers.com/images/hd/dark-aesthetic-computer-bloody-splashes-background-ue5gn4ymr6djij0y.jpg"
        style="width: 100%; height: 100%; position:fixed; z-index: -1; object-fit: cover;"
    ></img>
    
    <h2 style="font-size: 40px; padding-top: 50px;  color: tomato; text-align: center;">BlogsDaily</h2>

    <div id="signUp" style="opacity: 80%;">
        <h1>SignUp</h1>
        {% if messages %}
            {% for message in messages %}
                <h5 style="color: coral;">{{message}}</h5>
            {% endfor %}
        {% endif %}
    <form method="POST">
        {% csrf_token %}
        
        <div>
            <input type="text" placeholder="username" required name="username">
        </div>

        <div>
            <input type="email" placeholder="email" required name="email">
        </div>

        <div>
            <input type="password" placeholder="password" required name="password">
        </div>

        <div>
            <input type="submit" value="SignUp" class="btn btn-success">
        </div>

        <div style="color: tomato; margin-top:5px ;">
            Already Registered? <a href="{% url 'authentication:signIn' %}">SignIn</a>
        </div>

        <div style="color: tomato; margin-top:5px ;">
            Forget Paddword <a href="#">Reset</a>
        </div>

    </form>
</div>


</body>
</html>